affine==3.0.1
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
cloudpickle==3.1.2
contextily==1.7.1
contourpy==1.4.0
cycler==0.12.1
fonttools==4.66.1
geographiclib==2.1
geopy==2.5.0
gtfs-realtime-bindings==2.2.0
idna==3.20
joblib==1.6.0
kiwisolver==1.5.1
matplotlib==3.11.2
mercantile==1.2.1
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pillow==12.3.0
protobuf==7.36.1
pyparsing==3.3.3
python-dateutil==2.9.0.post0
rasterio==1.5.2
requests==2.34.2
six==1.17.0
urllib3==2.8.0
xyzservices==2026.9.1
